.game > div {
    width: 70px;
    height: 70px;
    position: absolute;
    display: inline-block;
    text-align: center;
    border: 1px dashed #2C3E50;
    box-shadow: 0 2px 5px rgba(44, 62, 80, 0.41);
}

.game {
    text-align: center;
    position: absolute;
}
